<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from skille.presstigers.dev/books-media-v3.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 May 2025 05:44:36 GMT -->
<head>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <!-- Title -->
    <title>@ViewBag.Title - SenseLib</title>

    <!-- Favicon -->
    <link href="/Logo.png" rel="icon" type="image/x-icon" />

    <!-- Fonts -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Animation-->
    <link href="/assets/css/aos.css" rel="stylesheet" type="text/css" />
    <!-- Mobile Menu -->
    <link href="/assets/css/mmenu.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/mmenu.positioning.css" rel="stylesheet" type="text/css" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    @using WebHackathon.Utilities;
    @if (!string.IsNullOrEmpty(Function._message))
    {
        <script>
            alert('@Function._message');
        </script>

        Function._message = string.Empty;
    }

    <!-- Start: Header Section -->
    <header id="header" class="inner-navbar-wrapper navbar-wrapper">
        <div class="container-fluid">
            @await Component.InvokeAsync("Header")

        </div>
    </header>
    <!-- End: Header Section -->
    @RenderBody()

    <!-- Start: Footer -->
    <footer class="site-footer site-footer-v3">
        <div class="container">
            <div class="footer-widgets">
                <div class="row">
                    <div class="col-lg-5 col-md-6 widget-container">
                        <div id="text-2" class="widget widget_text">
                            <div class="about-us">
                                <a href="index-2.html">
                                    <img src="/Senselab_Footer.png" alt="Senselib" />
                                </a>
                            </div>
                            <div class="textwidget">
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                                as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour
                                and the like).
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 widget-container">
                        <div id="nav_menu-2" class="widget widget_nav_menu">
                            <h3 class="footer-widget-title">Quick Links</h3>
                            <div class="menu-quick-links-container">
                                <ul id="menu-quick-links" class="menu">
                                    <li><a href="#">Library News</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Meet Our Staff</a></li>
                                    <li><a href="#">Board of Trustees</a></li>
                                    <li><a href="#">Budget</a></li>
                                    <li><a href="#">Annual Report</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 widget-container">
                        <div id="text-4" class="widget widget_text">
                            <h3 class="footer-widget-title">Timing</h3>
                            <div class="timming-text-widget">
                                <time datetime="2017-02-13">Mon - Thu: 9am - 9pm</time>
                                <time datetime="2017-02-13">Fri: 9am - 6pm</time>
                                <time datetime="2017-02-13">Sat: 9am - 5pm</time>
                                <time datetime="2017-02-13">Sun: 1pm - 6pm</time>
                                <ul>
                                    <li><a href="#">Closings</a></li>
                                    <li><a href="#">Branches</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 widget-container">
                        <div class="widget twitter-widget">
                            <h3 class="footer-widget-title">Contact Info</h3>
                            <address>
                                <div class="info">
                                    <i class="fa fa-location-arrow"></i>
                                    <span>21 King Street, Melbourne, Victoria 3000 Australia</span>
                                </div>
                                <div class="info">
                                    <i class="fa fa-envelope"></i>
                                    <span><a href="mailto:support@skille.com">support@skille.com</a></span>
                                </div>
                                <div class="info">
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:012-345-6789">+ 012-345-6789</a></span>
                                </div>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="footer-text col-md-3">
                        <p>&copy; 2020 <a href="index-2.html">Skille</a>. All rights reserved.</p>
                    </div>
                    <div class="col-md-9 pull-right">
                        <ul>
                            <li><a href="index-2.html">Home</a></li>
                            <li><a href="books-media-list-view.html">Books &amp; Media</a></li>
                            <li><a href="news-events-list-view.html">News &amp; Events</a></li>
                            <li><a href="#">Kids &amp; Teens</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="blog-grid.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button id="myBtn" title="Go to top"><span>&#8593;</span></button>
    </footer>
    <!-- End: Footer -->
    <!-- jQuery Latest Version 1.x -->
    <script src="../code.jquery.com/jquery-2.2.3.min.js"></script>

    <!-- jQuery UI -->
    <script src="/assets/js/jquery-ui.min.js"></script>

    <!-- jQuery Easing -->
    <script src="/assets/js/jquery.easing.1.3.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Mobile Menu -->
    <script src="/assets/js/mmenu.min.js"></script>

    <!-- Harvey - State manager for media queries -->
    <script src="/assets/js/harvey.min.js"></script>

    <!-- Waypoints - Load Elements on View -->
    <script src="/assets/js/waypoints.min.js"></script>

    <!-- Facts Counter -->
    <script src="/assets/js/facts.counter.min.js"></script>

    <!-- MixItUp - Category Filter -->
    <script src="/assets/js/mixitup.min.js"></script>

    <!-- Owl Carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>

    <!-- Accordion -->
    <script src="/assets/js/accordion.min.js"></script>

    <!-- Masonry -->
    <script src="/assets/js/masonry.min.js"></script>

    <!-- Carousel Swipe -->
    <script src="/assets/js/carousel.swipe.min.js"></script>

    <!-- Testimonial Home Page V3 -->
    <script src="/assets/js/card-slider-min.js"></script>

    <!-- Google Map API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT5k-RhvFSVIuCALkpHhKgQx6SJUd9gpI"></script>
    <script src="/assets/js/google.map.js"></script>

    <!-- Animation Scripts -->
    <script src="/assets/js/aos.js"></script>
    <script src="/assets/js/highlight.min.js"></script>

    <!-- Custom Scripts -->
    <script src="/assets/js/main.js"></script>

    @RenderSection("Scripts", required: false)

</body>


<!-- Mirrored from skille.presstigers.dev/books-media-v3.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 May 2025 05:44:58 GMT -->
</html>