@{
    ViewData["Title"] = "Trainning AI";
}

<!-- App body starts -->
<div class="app-body">

    <!-- Row starts -->
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">TrainningAI</h5>
                </div>
                <div class="card-body">
                    <!-- Row starts -->
                    <div class="row gx-3">
                        <div class="col-sm-6 col-6">
                            <form asp-action="UploadText" method="post">
                                <div class="mb-3">
                                    <label class="form-label" for="a9">Content Trainning</label>
                                    <textarea class="form-control" name="documentText" id="a9" placeholder="Enter content" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary"> Process </button>
                            </form>

                        </div>
                        <div class="col-sm-6 col-6">
                            <form asp-action="UploadFile" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Pdf file</label>
                                    <input class="form-control" name="pdfFile" type="file" id="formFile" accept=".pdf">
                                </div>
                                <button type="submit" class="btn btn-primary"> Upload </button>

                            </form>
                        </div>
                    </div>

                    <!-- Row ends -->
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

</div>
<!-- App body ends -->
<script>
    alert(ViewBag.Message);
</script>