@model WebHackathon.Models.TbCategory

@{
    ViewData["Title"] = "Add new blog category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "categories";

}
<!-- App body starts -->
<div class="app-body">

    <!-- Row starts -->
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card mb-3">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="card-header">
                        <h5 class="card-title">Add a blog category</h5>
                    </div>
                    <div class="card-body">

                        <div class="col-sm-12 col-12">
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="a1">Name</label>
                                    <input type="text" asp-for="Title" class="form-control" id="a1" placeholder="Enter title" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="Description">Description</label>
                                <textarea class="form-control" id="Description" asp-for="Description" placeholder="Enter description" rows="3" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex gap-2 justify-content-end">
                            <a asp-action="Index" class="btn btn-outline-secondary"> Cancel  </a>
                            <button type="submit" class="btn btn-primary">  Create </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Row ends -->

</div>
<!-- App body ends -->
@section Scripts {
    @{
        var summerNote = new WebHackathon.Areas.Admin.Models.SummerNote("#Description");
        <partial name="_SummerNote" model="summerNote" />
    }
}