@model WebHackathon.Models.TbCategory

@{
    ViewData["Title"] = $"Edit the book category: {Model.Title}";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "categories";

}


<!-- App body starts -->
<div class="app-body">

    <!-- Row starts -->
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card mb-3">
                <form asp-action="Edit" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CategoryId" />
                    <div class="card-header">
                        <h5 class="card-title">Edit the Category : @Model.Title</h5>
                    </div>
                    <div class="card-body">

                        <div class="col-sm-12 col-12">
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label" for="a1">Title</label>
                                    <input type="text" asp-for="Title" class="form-control" id="a1" placeholder="Enter title" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="a9">Description</label>
                                <textarea class="form-control" id="a9" asp-for="Description" placeholder="Enter description" rows="3" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex gap-2 justify-content-end">
                            <a asp-action="Index" class="btn btn-outline-secondary"> Cancel  </a>
                            <button type="submit" class="btn btn-primary">  Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Row ends -->

</div>
<!-- App body ends -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
